// *{
//   background-color: #FAFBFC;
// }

.container-fluid {
  background-color: #fcfcfc;
  padding: 10px;
}

.card {
  background-color: white;
  border: 1px solid rgba(9, 30, 66, 0.16);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 15px;
  height: calc(860px - 50px);
}
.jar {
  width: 20%;
  border-right: 1px solid rgba(9, 30, 66, 0.16);
  padding: 10px;
  text-align: center;
  background-color: white; 
  height: calc(845px - 50px); 
}

.scrollable-accordion{
  height: calc(690px - 50px); /* Subtract the height of the fixed table */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

.jar:last-child {
  border-right: none;
}
#test{ 
  color: var(--foundation-secondary-s-300, #182A4E);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
#test1{
  color: var(--foundation-secondary-s-100, #798398);
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
// .img{
//   width: 38px;
//   height: 38px;
//   flex-shrink: 0;
//   border-radius: 20px;
// }
.jar_icon{
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 20px;
}
.add_icon{
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 20px;
}
mat-expansion-panel{
  // border: 2px solid #2B6FD4;
  background-color: #FAFBFD;
  color: #3F4E6C;
  border-radius: 13px !important;
  text-align: start;
}
.limitTextHeight {
  height: 40px;
  overflow: hidden;
}
.readbutton{
  text-align: start !important;
}
.desc{
  background-color: #F7F7F8 !important;
}
.panels{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.mat-expansion-panel {
  border:1.5px solid rgba(9, 30, 66, 0.14) !important;
}

.mat-expansion-panel.mat-expanded {
  border:1.5px solid blue !important;
}
.panelcell{
  padding: 10px;
  margin: 10px;
}
.paneltitle{
  color: var(--foundation-secondary-s-200, #3F4E6C);
  // font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
::ng-deep.modal-backdrop.show 
{
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: black;
}

.demo-section + .demo-section {
  margin-top: 16px;
}

.mat-chip{
  color:#FF7452;
  background-color: #FFEFEB;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: #2B6FD4;
}


/* Position the "3dots" image at the end */
.specific-class img {
  position: absolute;
  right: 40px;
}

.tick-mark{
  position: absolute;
  // z-index: 1;
  
  
}
.tick-mark span{
  font-size: 20px;
  font-weight: bolder;
  color: green;
}
.cart_button{
  position: fixed;
  top: 22px;
  right: 100px;
  z-index: 1;
}
.inside_icons{
  width: 24px;
  height: 24px;
}
.inside_icon1{
  margin-right: 1px solid #3F4E6C;
}

.separator {
  position: relative;
  text-align: center;
}

.separator hr {
  border: none;
  height: 1px;
  background-color: #000; /* Set the desired color for the line */
}

.separator span {
  position: absolute;
  top: -10px; /* Adjust the positioning of the section name */
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  background-color: #fff; /* Set the desired background color for the section name */
  padding: 0 10px;
}

[aria-placeholder] {
  position: relative;
}

[aria-placeholder]:after {
  content: attr(aria-placeholder);
  position: absolute;
  left: 50%;
  bottom:120%; /* put it on the top */
  background-color: transparent;
  color: #3F4E6C;
  width: max-content;
  opacity: 0;
  // -webkit-transition: opacity 0.50s ease-in-out;
   /* 👈 Change the time to meet your requirements. */
}
[aria-placeholder]:hover:after {
  opacity: 1;
}